<img src="../Images/pandasseamless.gif" />

# Home Learning Tasks
#### ðŸŒ¸Session 6: Pandas | Thursday, 10/02/2022
_____________________________________________________________________________________________________________________

#### Lesson Contents

- What is "Pandas"?
- Series/Dataframes
- Importing Data
- Data Selection & Manipulation

_____________________________________________________________________________________________________________________

<img src="../Images/Pandas_logo.png" />

"Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series."

In [1]:
!pip install pandas

#use %pip if !pip doesn't work

Requirement already satisfied: pandas in c:\users\hanna\appdata\local\programs\python\python310\lib\site-packages (1.4.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Hanna\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.21.0 in c:\users\hanna\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hanna\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hanna\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hanna\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

### Create a CSV file of 15 holiday destinations for a website

1.Add in a column of destinations

2.Add in a column that shows feedback score out of 10 for that destination

3.Add in a column for average hotel star rating for those destinations

4.Add in a column for number of all-inclusive hotels within each destination

5.Add in the most visited city in each destination

In [1]:
import pandas as pd

data = pd.read_csv("../Data/Holiday_Destinations.csv")

print (data)

    Destination  Review Rating  Hotel Rating  â„– Hotels  Most Visted
0      Portugal              7             4       952        Porto
1         Spain              5             5       753      Seville
2        France              8             4       392         Nice
3      Scotland              2             3       171  Edingburugh
4       England              5             3       218         Bath
5         Italy              6             3       766       Amalfi
6         Malta              7             2       277        Mdina
7        Greece              4             2       535       Chania
8        Sweden              4             5       981      Uppsala
9        Cyprus              6             2       132       Paphos
10  Switzerland              8             5       354       Zurich
11      Croatia              4             4       831    Dubrovnik
12     Bulgaria              3             3       350        Varna
13      Germany              2             4       729      Hamburg
14    Gibraltar              4             3       124     Westside

### 1.How many rows and columns are there in your file?

In [2]:
print(data.shape)

(15, 5)

### 2.Print row 3-8 ( using iloc/loc).

- Using iloc here bc it retrieves the data based on index location
- To print a range using iloc,you can use a colon [ : ]

In [6]:
data = pd.read_csv("../Data/Holiday_Destinations.csv")    #probs don't need to rerun this bit bc I did it in the cell above but w/e

print (data.iloc[3:9])      #originally did 3:8, this bc of the 0,1,2,3 / 1,2,3,4 thing?

  Destination  Review Rating  Hotel Rating  â„– Hotels  Most Visted
3    Scotland              2             3       171  Edingburugh
4     England              5             3       218         Bath
5       Italy              6             3       766       Amalfi
6       Malta              7             2       277        Mdina
7      Greece              4             2       535       Chania
8      Sweden              4             5       981      Uppsala

### 3.Find the mean number of all-inclusive hotels across all destinations.

In [7]:
print (data["â„– Hotels"].mean().round(2))

504.33

### 4.Find the lowest scoring destination.

In [5]:
data = pd.read_csv("../Data/Holiday_Destinations.csv")
print(data["Review Rating"].min())

2

### 5.Find the highest scoring destination.

In [6]:
data = pd.read_csv("../Data/Holiday_Destinations.csv")
print(data["Review Rating"].max())

8

### 6.Find all the destinations where there are more than 9 all-inclusive hotels.

In [7]:
data = pd.read_csv("../Data/Holiday_Destinations.csv")
print(data["â„– Hotels"].mean())

504.3333333333333

### 7.Filter the data by score above 8.

In [18]:
filter = data["Review Rating"] > 8
RatingAbove8 = data[filter]
RatingAbove8.head()

Empty DataFrame
Columns: [Destination, Review Rating, Hotel Rating, â„– Hotels, Most Visted]
Index: []

There are no destinations with a rating above "8"

In [20]:
filter = data["Review Rating"] >= 8
RatingAboveOrEqual8 = data[filter]
RatingAboveOrEqual8.head()

    Destination  Review Rating  Hotel Rating  â„– Hotels Most Visted
2        France              8             4       392        Nice
10  Switzerland              8             5       354      Zurich

In [10]:
filter = data["Review Rating"] > 4
RatingAbove4 = data[filter]
RatingAbove4.head()

  Destination  Review Rating  Hotel Rating  â„– Hotels Most Visted
0    Portugal              7             4       952       Porto
1       Spain              5             5       753     Seville
2      France              8             4       392        Nice
4     England              5             3       218        Bath
5       Italy              6             3       766      Amalfi

### 8.Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)

In [24]:
filter = data["Review Rating"] < 2
RatingBelow2 = data[filter]
RatingBelow2.head()

Empty DataFrame
Columns: [Destination, Review Rating, Hotel Rating, â„– Hotels, Most Visted]
Index: []

There are no destinations with a score below 2

In [22]:
filter = data["Review Rating"] <= 2
RatingBelowOrEqual2 = data[filter]
RatingBelowOrEqual2.head()

   Destination  Review Rating  Hotel Rating  â„– Hotels  Most Visted
3     Scotland              2             3       171  Edingburugh
13     Germany              2             4       729      Hamburg

### Extension

### 1. Is there a correlation between number of all-inclusive hotels and score?

### 2. Create a data visualisation diagram to show destination and highest scores