# Home Learning Tasks
#### üå∏Session 11: Introduction to Databases and SQL (Pt.2) | Thursday, 17/03/2022
______________________________________________________________________________________________________________________________________________

### Task 1

- Create a relational database (***2 tables***) of your own choice. It must be a meaningful/thoughtout database.

- Both tables must have a ***primary key*** and the correct ***data types***. Include a minimum of 5 fields in at least one of the tables.

- View and show both table structures and data to make sure they are set up correctly.

- Enter records into both tables and view them. Make sure at least one of your tables has 10 records.

In [ ]:
<img src="../Images/.png" />

### Schema(Database) - librarymanagementtest

### Table 1 - Books üìö

<img src="../Images/sql1.png" />

<img src="../Images/sql2.png" />


<img src="../Images/sql11.png" />

### Table 2 - Members üßç‚Äç‚ôÄÔ∏è üßç üßç‚Äç‚ôÇÔ∏è

<img src="../Images/sql4.png" />

<img src="../Images/sql5.png" />

<img src="../Images/sql6.png" />

___________________________________________________________________________________________________________________________________________________________________

- Update a record

So I incorrectly spelt Brendan as Brandan, so I'm going to update it with the correct spelling. This would also be useful if someone has had a name alteration e.g. Marriage.

<img src="../Images/sql10.png" />

- Delete a record

let's pretend a book had to be removed from the library. I'm going to remove ***The Selfish Gene***.

<img src="../Images/sql12.png" />

- Join Tables

to join a tables together, there needs to be a common column. So I'm going to make sure both tables have a column called ***'book_id'***.

<img src="../Images/sql7.png" />

<img src="../Images/sql8.png" />

<img src="../Images/sql9.png" />

Run a simple query (one field/column) search ingone table.

Run a complex query(more than one field/column)to demonstrate the relations between the 2 tables

Retrieve all your data sorted in ascending order on an appropriate field (onetable)

Filter data using comparison operators(one table)